* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: "Livvic", "Arial", sans-serif;
}

.site-main {
    flex-grow: 1;
}

